In [103]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv')

print(df)

      id              full_name  first_name    last_name  \
0    1.0        Mariel Finnigan      Mariel     Finnigan
1    2.0          Kenyon Possek      Kenyon       Possek
2    3.0         Lalo Manifould        Lalo    Manifould
3    4.0         Nickola Carous     Nickola       Carous
4    5.0          Norman Dubbin      Norman       Dubbin
5    6.0           Hasty Perdue       Hasty       Perdue
6    7.0         Franz Castello       Franz     Castello
7    8.0           Jorge Tarney       Jorge       Tarney
8    9.0     Eunice Blakebrough      Eunice  Blakebrough
9   10.0  Kristopher Frankcombe  Kristopher   Frankcombe
10  11.0           Palm Domotor        Palm      Domotor
11  12.0          Luz Lansdowne         Luz    Lansdowne
12  13.0         Modestia Keble    Modestia        Keble
13  14.0           Stacee Bovis      Stacee        Bovis
14  15.0              Eden Wace        Eden         Wace
15  16.0              Eden Wace        Eden         Wace
16  17.0        Tobias Sherburn      Tobias     Sherburn
17   NaN                    NaN         NaN          NaN
18  19.0         Clair Skillern       Clair     Skillern
19  20.0        Mathew Addicott      Mathew     Addicott
20  21.0       Kerianne Goacher    Kerianne      Goacher
21   NaN          Maurits Shawl     Maurits        Shawl
22   NaN                    NaN         NaN          NaN

                             email  gender  age
0              mfinnigan0@usda.gov  Female   60
1                kpossek1@ucoz.com    Male   12
2              lmanifould2@pbs.org    Male   26
3                ncarous3@phoca.cz    Male    4
4           ndubbin4@wikipedia.org    Male   17
5                  hperdue5@qq.com     NaN   77
6              fcastello6@1688.com    Male   25
7                  jtarney7@ft.com    Male   77
8           eblakebrough8@sohu.com  Female   45
9           kfrankcombe9@slate.com    Male  old
10             pdomotora@github.io    Male    6
11     llansdowneb@theguardian.com  Female   16
12                 mkeblec@cmu.edu  Female   91
13           sbovisd@webeden.co.uk  Female   22
14             ewacee@marriott.com  Female   16
15             ewacee@marriott.com  Female   16
16         tsherburnf@facebook.com    Male    2
17                             NaN     NaN  NaN
18              cskillerng@nih.gov    Male  -78
19  maddicotth@acquirethisname.com    Male   65
20                             NaN  Female   45
21                mshawlj@dmoz.org    Male   72
22                             NaN     NaN  NaN

In [104]:
#1 delete column full_name

del df['full_name']

print(df)

      id  first_name    last_name                           email  gender  age
0    1.0      Mariel     Finnigan             mfinnigan0@usda.gov  Female   60
1    2.0      Kenyon       Possek               kpossek1@ucoz.com    Male   12
2    3.0        Lalo    Manifould             lmanifould2@pbs.org    Male   26
3    4.0     Nickola       Carous               ncarous3@phoca.cz    Male    4
4    5.0      Norman       Dubbin          ndubbin4@wikipedia.org    Male   17
5    6.0       Hasty       Perdue                 hperdue5@qq.com     NaN   77
6    7.0       Franz     Castello             fcastello6@1688.com    Male   25
7    8.0       Jorge       Tarney                 jtarney7@ft.com    Male   77
8    9.0      Eunice  Blakebrough          eblakebrough8@sohu.com  Female   45
9   10.0  Kristopher   Frankcombe          kfrankcombe9@slate.com    Male  old
10  11.0        Palm      Domotor             pdomotora@github.io    Male    6
11  12.0         Luz    Lansdowne     llansdowneb@theguardian.com  Female   16
12  13.0    Modestia        Keble                 mkeblec@cmu.edu  Female   91
13  14.0      Stacee        Bovis           sbovisd@webeden.co.uk  Female   22
14  15.0        Eden         Wace             ewacee@marriott.com  Female   16
15  16.0        Eden         Wace             ewacee@marriott.com  Female   16
16  17.0      Tobias     Sherburn         tsherburnf@facebook.com    Male    2
17   NaN         NaN          NaN                             NaN     NaN  NaN
18  19.0       Clair     Skillern              cskillerng@nih.gov    Male  -78
19  20.0      Mathew     Addicott  maddicotth@acquirethisname.com    Male   65
20  21.0    Kerianne      Goacher                             NaN  Female   45
21   NaN     Maurits        Shawl                mshawlj@dmoz.org    Male   72
22   NaN         NaN          NaN                             NaN     NaN  NaN

In [105]:
#2 delete useless rows --> where all values 'NaN'

#df.drop(df[df['last_name'] == 'NaN'].index, inplace=True)

df = df[df['last_name'].notna()]

print(df)

      id  first_name    last_name                           email  gender  age
0    1.0      Mariel     Finnigan             mfinnigan0@usda.gov  Female   60
1    2.0      Kenyon       Possek               kpossek1@ucoz.com    Male   12
2    3.0        Lalo    Manifould             lmanifould2@pbs.org    Male   26
3    4.0     Nickola       Carous               ncarous3@phoca.cz    Male    4
4    5.0      Norman       Dubbin          ndubbin4@wikipedia.org    Male   17
5    6.0       Hasty       Perdue                 hperdue5@qq.com     NaN   77
6    7.0       Franz     Castello             fcastello6@1688.com    Male   25
7    8.0       Jorge       Tarney                 jtarney7@ft.com    Male   77
8    9.0      Eunice  Blakebrough          eblakebrough8@sohu.com  Female   45
9   10.0  Kristopher   Frankcombe          kfrankcombe9@slate.com    Male  old
10  11.0        Palm      Domotor             pdomotora@github.io    Male    6
11  12.0         Luz    Lansdowne     llansdowneb@theguardian.com  Female   16
12  13.0    Modestia        Keble                 mkeblec@cmu.edu  Female   91
13  14.0      Stacee        Bovis           sbovisd@webeden.co.uk  Female   22
14  15.0        Eden         Wace             ewacee@marriott.com  Female   16
15  16.0        Eden         Wace             ewacee@marriott.com  Female   16
16  17.0      Tobias     Sherburn         tsherburnf@facebook.com    Male    2
18  19.0       Clair     Skillern              cskillerng@nih.gov    Male  -78
19  20.0      Mathew     Addicott  maddicotth@acquirethisname.com    Male   65
20  21.0    Kerianne      Goacher                             NaN  Female   45
21   NaN     Maurits        Shawl                mshawlj@dmoz.org    Male   72

In [106]:
#3 delete dublicates

df = df.drop_duplicates(subset='last_name', keep="first")

print(df)

      id  first_name    last_name                           email  gender  age
0    1.0      Mariel     Finnigan             mfinnigan0@usda.gov  Female   60
1    2.0      Kenyon       Possek               kpossek1@ucoz.com    Male   12
2    3.0        Lalo    Manifould             lmanifould2@pbs.org    Male   26
3    4.0     Nickola       Carous               ncarous3@phoca.cz    Male    4
4    5.0      Norman       Dubbin          ndubbin4@wikipedia.org    Male   17
5    6.0       Hasty       Perdue                 hperdue5@qq.com     NaN   77
6    7.0       Franz     Castello             fcastello6@1688.com    Male   25
7    8.0       Jorge       Tarney                 jtarney7@ft.com    Male   77
8    9.0      Eunice  Blakebrough          eblakebrough8@sohu.com  Female   45
9   10.0  Kristopher   Frankcombe          kfrankcombe9@slate.com    Male  old
10  11.0        Palm      Domotor             pdomotora@github.io    Male    6
11  12.0         Luz    Lansdowne     llansdowneb@theguardian.com  Female   16
12  13.0    Modestia        Keble                 mkeblec@cmu.edu  Female   91
13  14.0      Stacee        Bovis           sbovisd@webeden.co.uk  Female   22
14  15.0        Eden         Wace             ewacee@marriott.com  Female   16
16  17.0      Tobias     Sherburn         tsherburnf@facebook.com    Male    2
18  19.0       Clair     Skillern              cskillerng@nih.gov    Male  -78
19  20.0      Mathew     Addicott  maddicotth@acquirethisname.com    Male   65
20  21.0    Kerianne      Goacher                             NaN  Female   45
21   NaN     Maurits        Shawl                mshawlj@dmoz.org    Male   72

In [107]:
#4 change column age where value 'old' and '-78' to NaN

df['age'] = df['age'].replace(['old', '-78'],'NaN')

print(df)

      id  first_name    last_name                           email  gender  age
0    1.0      Mariel     Finnigan             mfinnigan0@usda.gov  Female   60
1    2.0      Kenyon       Possek               kpossek1@ucoz.com    Male   12
2    3.0        Lalo    Manifould             lmanifould2@pbs.org    Male   26
3    4.0     Nickola       Carous               ncarous3@phoca.cz    Male    4
4    5.0      Norman       Dubbin          ndubbin4@wikipedia.org    Male   17
5    6.0       Hasty       Perdue                 hperdue5@qq.com     NaN   77
6    7.0       Franz     Castello             fcastello6@1688.com    Male   25
7    8.0       Jorge       Tarney                 jtarney7@ft.com    Male   77
8    9.0      Eunice  Blakebrough          eblakebrough8@sohu.com  Female   45
9   10.0  Kristopher   Frankcombe          kfrankcombe9@slate.com    Male  NaN
10  11.0        Palm      Domotor             pdomotora@github.io    Male    6
11  12.0         Luz    Lansdowne     llansdowneb@theguardian.com  Female   16
12  13.0    Modestia        Keble                 mkeblec@cmu.edu  Female   91
13  14.0      Stacee        Bovis           sbovisd@webeden.co.uk  Female   22
14  15.0        Eden         Wace             ewacee@marriott.com  Female   16
16  17.0      Tobias     Sherburn         tsherburnf@facebook.com    Male    2
18  19.0       Clair     Skillern              cskillerng@nih.gov    Male  NaN
19  20.0      Mathew     Addicott  maddicotth@acquirethisname.com    Male   65
20  21.0    Kerianne      Goacher                             NaN  Female   45
21   NaN     Maurits        Shawl                mshawlj@dmoz.org    Male   72

In [ ]:
#5 drop id column and create it new 

del df['id']
print(df)

In [115]:
#5 create new id's based on first_name + last_name

df['id'] = df.groupby(['first_name','last_name']).ngroup()

print(df)

# --> also create new unique id where id == 0

    first_name    last_name                           email  gender  age  id
0       Mariel     Finnigan             mfinnigan0@usda.gov  Female   60  11
1       Kenyon       Possek               kpossek1@ucoz.com    Male   12   6
2         Lalo    Manifould             lmanifould2@pbs.org    Male   26   9
3      Nickola       Carous               ncarous3@phoca.cz    Male    4  15
4       Norman       Dubbin          ndubbin4@wikipedia.org    Male   17  16
5        Hasty       Perdue                 hperdue5@qq.com     NaN   77   4
6        Franz     Castello             fcastello6@1688.com    Male   25   3
7        Jorge       Tarney                 jtarney7@ft.com    Male   77   5
8       Eunice  Blakebrough          eblakebrough8@sohu.com  Female   45   2
9   Kristopher   Frankcombe          kfrankcombe9@slate.com    Male  NaN   8
10        Palm      Domotor             pdomotora@github.io    Male    6  17
11         Luz    Lansdowne     llansdowneb@theguardian.com  Female   16  10
12    Modestia        Keble                 mkeblec@cmu.edu  Female   91  14
13      Stacee        Bovis           sbovisd@webeden.co.uk  Female   22  18
14        Eden         Wace             ewacee@marriott.com  Female   16   1
16      Tobias     Sherburn         tsherburnf@facebook.com    Male    2  19
18       Clair     Skillern              cskillerng@nih.gov    Male  NaN   0
19      Mathew     Addicott  maddicotth@acquirethisname.com    Male   65  12
20    Kerianne      Goacher                             NaN  Female   45   7
21     Maurits        Shawl                mshawlj@dmoz.org    Male   72  13

In [117]:
#6 reorder columns

df = df[['id', 'last_name', 'first_name', 'email', 'gender', 'age']]

print(df)

    id    last_name  first_name                           email  gender  age
0   11     Finnigan      Mariel             mfinnigan0@usda.gov  Female   60
1    6       Possek      Kenyon               kpossek1@ucoz.com    Male   12
2    9    Manifould        Lalo             lmanifould2@pbs.org    Male   26
3   15       Carous     Nickola               ncarous3@phoca.cz    Male    4
4   16       Dubbin      Norman          ndubbin4@wikipedia.org    Male   17
5    4       Perdue       Hasty                 hperdue5@qq.com     NaN   77
6    3     Castello       Franz             fcastello6@1688.com    Male   25
7    5       Tarney       Jorge                 jtarney7@ft.com    Male   77
8    2  Blakebrough      Eunice          eblakebrough8@sohu.com  Female   45
9    8   Frankcombe  Kristopher          kfrankcombe9@slate.com    Male  NaN
10  17      Domotor        Palm             pdomotora@github.io    Male    6
11  10    Lansdowne         Luz     llansdowneb@theguardian.com  Female   16
12  14        Keble    Modestia                 mkeblec@cmu.edu  Female   91
13  18        Bovis      Stacee           sbovisd@webeden.co.uk  Female   22
14   1         Wace        Eden             ewacee@marriott.com  Female   16
16  19     Sherburn      Tobias         tsherburnf@facebook.com    Male    2
18   0     Skillern       Clair              cskillerng@nih.gov    Male  NaN
19  12     Addicott      Mathew  maddicotth@acquirethisname.com    Male   65
20   7      Goacher    Kerianne                             NaN  Female   45
21  13        Shawl     Maurits                mshawlj@dmoz.org    Male   72

In [128]:
#7 order alpabetically from last_name

df.sort_values(by='last_name')

print(df)

#doesn't work dk why!?

    id    last_name  first_name                           email  gender  age
0   11     Finnigan      Mariel             mfinnigan0@usda.gov  Female   60
1    6       Possek      Kenyon               kpossek1@ucoz.com    Male   12
2    9    Manifould        Lalo             lmanifould2@pbs.org    Male   26
3   15       Carous     Nickola               ncarous3@phoca.cz    Male    4
4   16       Dubbin      Norman          ndubbin4@wikipedia.org    Male   17
5    4       Perdue       Hasty                 hperdue5@qq.com     NaN   77
6    3     Castello       Franz             fcastello6@1688.com    Male   25
7    5       Tarney       Jorge                 jtarney7@ft.com    Male   77
8    2  Blakebrough      Eunice          eblakebrough8@sohu.com  Female   45
9    8   Frankcombe  Kristopher          kfrankcombe9@slate.com    Male  NaN
10  17      Domotor        Palm             pdomotora@github.io    Male    6
11  10    Lansdowne         Luz     llansdowneb@theguardian.com  Female   16
12  14        Keble    Modestia                 mkeblec@cmu.edu  Female   91
13  18        Bovis      Stacee           sbovisd@webeden.co.uk  Female   22
14   1         Wace        Eden             ewacee@marriott.com  Female   16
16  19     Sherburn      Tobias         tsherburnf@facebook.com    Male    2
18   0     Skillern       Clair              cskillerng@nih.gov    Male  NaN
19  12     Addicott      Mathew  maddicotth@acquirethisname.com    Male   65
20   7      Goacher    Kerianne                             NaN  Female   45
21  13        Shawl     Maurits                mshawlj@dmoz.org    Male   72

In [ ]:
#8 replace NaN in age with average age

df['age'].fillna(int(df['age'].mean()), inplace=True)

print(df)

In [142]:
#9 replace NaN in email with unknown

df['email'].fillna('unknown', inplace=True)

print(df)

    id    last_name  first_name                           email  gender  age
0   11     Finnigan      Mariel             mfinnigan0@usda.gov  Female   60
1    6       Possek      Kenyon               kpossek1@ucoz.com    Male   12
2    9    Manifould        Lalo             lmanifould2@pbs.org    Male   26
3   15       Carous     Nickola               ncarous3@phoca.cz    Male    4
4   16       Dubbin      Norman          ndubbin4@wikipedia.org    Male   17
5    4       Perdue       Hasty                 hperdue5@qq.com     NaN   77
6    3     Castello       Franz             fcastello6@1688.com    Male   25
7    5       Tarney       Jorge                 jtarney7@ft.com    Male   77
8    2  Blakebrough      Eunice          eblakebrough8@sohu.com  Female   45
9    8   Frankcombe  Kristopher          kfrankcombe9@slate.com    Male  NaN
10  17      Domotor        Palm             pdomotora@github.io    Male    6
11  10    Lansdowne         Luz     llansdowneb@theguardian.com  Female   16
12  14        Keble    Modestia                 mkeblec@cmu.edu  Female   91
13  18        Bovis      Stacee           sbovisd@webeden.co.uk  Female   22
14   1         Wace        Eden             ewacee@marriott.com  Female   16
16  19     Sherburn      Tobias         tsherburnf@facebook.com    Male    2
18   0     Skillern       Clair              cskillerng@nih.gov    Male  NaN
19  12     Addicott      Mathew  maddicotth@acquirethisname.com    Male   65
20   7      Goacher    Kerianne                         unknown  Female   45
21  13        Shawl     Maurits                mshawlj@dmoz.org    Male   72